@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-image: url("../ffflux.svg");
    background-size: cover;
    background-color: black;
    color:white;
    font-family: "Poppins", sans-serif;
}

@font-face {
    font-family: "Poppins";
    src: url("../public/fonts/Poppins/Poppins-Black.ttf");
    
}

@font-face {
    font-family: "PoppinsLight";
    src: url("../public/fonts/Poppins/Poppins-Regular.ttf");
}